// 导航栏宽度
$navbar-width:200px;
// 导航栏收缩宽度
$navbar-collapse-width:50px;
// 标题头高度
$header-height: 60px;
$tab-height: 40px;
$footer-height: 40px;
$first-space__width: 25px;
$second-space__width: 15px;
$third-space__width: 10px;
$fourth-space__width: 5px;
// 内容标题大小
$list-title__size: 14px;
// 内容字体大小
$content-font__size: 12px;