$split-line-color: #D8DCE3;
.el-dialog__body {
  padding: 20px 20px 0px;
  max-height: calc(100vh - 120px * 2);
  overflow: auto;
  border-top: 1px solid $split-line-color;
  border-bottom: 1px solid $split-line-color;
}

// 修改el-button的尺寸，medium-中等、small-小型、mini-超小
// 超小按钮的样式
.el-button--mini, .el-button--mini.is-round {
  padding: 5px 7px;
}

// 无内边距
.nopadding {
  padding: 0px !important;
}